a(href="/") หน้าแรก
<br>
a(href="/registration") สมัครสมาชิก
h1 ลงชื่อเข้าใช้งาน
form(action='/login' method='post')
    input(type="email" name="email" placeholder="ใส่ Email ที่นี่")
    <br>
    input(type="password" name="password" placeholder="ใส่ รหัสผ่าน ที่นี่")
    <br>
    input(type='submit', value='Submit')