a(href="/") Home
<br>
a(href="/registration") Register
h1 Sign in
form(action='/login' method='post')
    input(type="email" name="email" placeholder="email")
    <br>
    input(type="password" name="password" placeholder="password")
    <br>
    input(type='submit', value='Submit')