a(href="/") หน้าแรก
<br>
a(href="/login") ลงชื่อเข้าใช้
h1 สมัครสมาชิก
form(action='/registration' method='post')
    input(type="email" name="email" placeholder="ใส่ Email ที่นี่")
    <br>
    input(type="password" name="password" placeholder="ใส่ รหัสผ่าน ที่นี่")
    <br>
    input(type='submit', value='Submit')