a(href="/") Home
<br>
a(href="/login") Sign in
h1 Register
form(action='/registration' method='post')
    input(type="email" name="email" placeholder="email")
    <br>
    input(type="password" name="password" placeholder="password")
    <br>
    input(type='submit', value='Submit')